<div class="cmp-nav" data-cmp-is="helloworld">
    <div class="cmp-helloworld__item" data-sly-test="${properties.text}">
        <p class="cmp-helloworld__item-label">Text property:</p>
        <pre class="cmp-helloworld__item-output" data-cmp-hook-helloworld="property">${properties.text}</pre>
    </div>
    <div class="cmp-helloworld__item"
         data-sly-use.model="com.nsc.core.models.NavModel">
        <p class="cmp-helloworld__item-label">Model property:</p>
        <pre class="cmp-helloworld__item-output" data-cmp-hook-helloworld="model">${model.text}</pre>
        <ul data-sly-list="${model.list}">
            <li>${item}</li>
        </ul>
        <ul data-sly-list="${model.multifield}">
            <li>${item.title}</li>
        </ul>
    </div>
</div>